﻿@page "/"
@using PollinationLogger.Models

<div class="row">
  <div class="col-sm-12">
    @if (_allRecords.Any())
    {
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        Amount of records: <strong>@_allRecords.Count</strong>
      </div>
    }
    
    @if (_allRecords.Count > 2000 && !_filteredRecords.Any())
    {
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Without filtering the amount is too high to show. Please specify a population and plant to narrow down the logs.
      </div>
    }
  </div>
</div>

<div class="row">
  <div class="col-sm-5">
    <h1>Pollination Logger</h1>
  </div>
  <div class="col-sm-7">
    @if (Loading)
    {
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    }
    else
    {
      <button class="btn btn-primary" @onclick="LoadFileAsync">Select file</button>
    }
  </div>
</div>

<EditForm OnValidSubmit="AddLogs" EditContext="_editContext">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Population ID</label>
    <div class="col-sm-2">
      <input class="form-control" list="populationIdOptions" placeholder="Population Id" @bind-value="PopulationId">
        <datalist id="populationIdOptions">
          @foreach (var populationId in _allRecords.GroupBy(plr => plr.PopulationId).Select(g => g.Key))
          {
            <option value="@populationId"/>
          }
        </datalist>
    </div>
  </div>
  
  <hr/>
  
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Date today</label>
    <div class="col-sm-2">
      <InputDate @bind-Value="_newRecord.LogDate" class="form-control"></InputDate>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Cluster color</label>
    <div class="col-sm-2">
      <InputText @bind-Value="_newRecord.ClusterColor" class="form-control"></InputText>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Flowermarker</label>
    <div class="col-sm-2">
      <InputText @bind-Value="_newRecord.Flowermarker" class="form-control"></InputText>
    </div>
  </div>
  
  <hr/>
  
  <div class="mb-3 row">
    <div class="col-sm-1">
      <input class="form-control" list="plantIdOptions" placeholder="Plant Id" @bind-value="PlantId">
      <datalist id="plantIdOptions">
        @foreach (var plantId in _allRecords.Where(plr => plr.PopulationId == PopulationId).GroupBy(plr => plr.PlantId).Select(g => g.Key))
        {
          <option value="@plantId"/>
        }
      </datalist>
    </div>
    
    <div class="col-sm-1">
      <input class="form-control" list="clusterOptions" placeholder="Cluster Nr." @bind-value="_newRecord.ClusterId">
      <datalist id="clusterOptions">
        @foreach (var clusterId in _filteredRecords.GroupBy(plr => plr.ClusterId).Select(g => g.Key))
        {
          <option value="@clusterId"/>
        }
      </datalist>
    </div>
    
    <div class="col-sm-1">
      <InputNumber @bind-Value="_recordAmount" placeholder="Amount" class="form-control"></InputNumber>
    </div>
    
    <div class="col-sm-2">
      <InputSelect @bind-Value="_newRecord.PollenAmount" class="custom-select">
        @foreach (var value in Enum.GetValues(typeof(PollenAmount)))
        {
          <option>@value</option>
        }
      </InputSelect>
    </div>
    
    <div class="col-sm-2">
      <InputSelect @bind-Value="_newRecord.FlowerColor" class="custom-select">
        @foreach (var value in Enum.GetValues(typeof(FlowerColor)))
        {
          <option>@value</option>
        }
      </InputSelect>
    </div>
    
    <div class="col-sm-1">
        <InputNumber @bind-Value="_pollinatedBeforeAmount" placeholder="Plntd Bfr Amnt" class="form-control"></InputNumber>
      </div>
    
    <div class="col-sm-2">
      <InputTextArea @bind-Value="_newRecord.Remarks" class="form-control" placeholder="Remarks.."></InputTextArea>
    </div>
    
    <div class="col-sm">
        <button class="btn btn-success" type="submit">Add</button>
      </div>
  </div>
</EditForm>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Population Id</th>
    <th scope="col">Plant Id</th>
    <th scope="col">Log date</th>
    <th scope="col">Cluster Id</th>
    <th scope="col">Cluster color</th>
    <th scope="col">Flowermarker</th>
    <th scope="col">Pollen amount</th>
    <th scope="col">Flower color</th>
    <th scope="col">Pollinated before</th>
    <th scope="col">Flowermarker before</th>
    <th scope="col">Remarks</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var log in _filteredRecords)
  {
    <tr>
      <td>@log.PopulationId</td>
      <td>@log.PlantId</td>
      <td>@log.LogDate.ToString("dd/MM/yyyy")</td>
      <td>@log.ClusterId</td>
      <td>@log.ClusterColor</td>
      <td>@log.Flowermarker</td>
      <td>@log.PollenAmount.ToString()</td>
      <td>@log.FlowerColor.ToString()</td>
      <td>@(log.PollinatedBefore ? "Yes" : "No")</td>
      <td>@log.FlowermarkerBefore</td>
      <td>@log.Remarks</td>
    </tr>
  }
  </tbody>
</table>